{% if site.maintenance %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="images/png" href="images/favicon.png">
		<title>Maintenance</title>
		<link rel="stylesheet" type="text/css" href="styles/maintenance.css">

<!-- Lucide Icons -->
		<script src="https://unpkg.com/lucide@latest"></script>
	</head>
	
	<body>
		<div class="container">

  <!-- IMAGE -->
			<img src="images/cone.png" alt="Maintenance" class="cone">

  <!-- CONTENU -->
			<div class="content">
				<h1>Nous reviendrons bientôt!</h1>
				<p>
					Le site est actuellement en maintenance.<br/>
					Revenez plus tard ou restez connecté:
				</p>
				<div class="buttons">

      <!-- DISCORD -->
					<a href="https://discord.com/invite/AAqBRQzJvZ" target="_blank" class="btn">
						<img src="https://cdn.simpleicons.org/discord/ffffff" alt="Discord" class="icon">Discord
					</a>

      <!-- GITHUB -->
					<a href="https://github.com/Nat688/AllPlugs-Site/issues" target="_blank" class="btn">
						<i data-lucide="github"></i>GitHub - Issues
					</a>

      <!-- WIKI -->
					<a href="https://nat688.github.io/AllPlugs-Site/wiki.html" class="btn">
						<i data-lucide="book"></i>Wiki
					</a>

      <!-- VOTE -->
					<a href="https://nat688.github.io/AllPlugs-Site/vote.html" target="_blank" class="btn">
						<i data-lucide="vote"></i>Vote
					</a>
				</div>
			</div>
		</div>

<!-- ACTIVER LUCIDE -->
		<script>
			lucide.createIcons();
		</script>
	</body>
</html>

{% else %}  <!-- ---------------------- SITE BASIQUE !!! ---------------------- -->

<!-- LE SITE -->

<!DOCTYPE html> 
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="images/favicon.png">
    	<title>Cubesia</title> <!-- CHANGE SELON LA PAGE -->
		<script src="https://unpkg.com/lucide@latest"></script>
		<link rel="stylesheet" type="text/css" href="styles/base.css">
	</head>
	<header>
		<a href="https://nat688.github.io/AllPlugs-Site/index.html" class="btn">
			<i data-lucide="house"></i>
		</a>
		<a href="https://nat688.github.io/AllPlugs-Site/patch.html" class="btn">
			<i data-lucide="history"></i>
		</a>
		<a href="https://nat688.github.io/AllPlugs-Site/wiki.html" class="btn">
			<i data-lucide="book-marked"></i>
		</a>
		<a href="https://nat688.github.io/AllPlugs-Site/reglements.html" class="btn">
			<i data-lucide="scale"></i>
		</a>
		<a href="https://nat688.github.io/AllPlugs-Site/vote.html" class="btn">
			<i data-lucide="vote"></i>
		</a>
		<a href="https://nat688.github.io/AllPlugs-Site/work-in-progress.html" class="btn2">
			<i data-lucide="shopping-cart"></i>
		</a>
			
<!-- ACTIVER ICONS LUCIDE -->
			
        <script>
				lucide.createIcons();
		</script>
	</header>
		
<!-- CHANGE SELON LES PAGES -->
	{{ content }}
<!-- CHANGE SELON LES PAGES -->
	<footer>
		<p class="base-p">© 2025 AllPlugs</p>
	</footer>
</html>

{% endif %}
