/* ===== TEXT ===== */
h1 {
    text-align: center;
    font-size: 150%;
}
h2 {
    text-align: center;
    font-size: 135%;
}
h3 {
    margin-left: 5%;
    font-size: 125%;
}
h4 {
    margin-left: 2%;
    font-size: 115%;
}
.minecraft {
    background: linear-gradient(90deg, #6B3F1D, #3FA34D);
    background-size: 200%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: mcGrass 3s ease-in-out infinite alternate;
}
@keyframes mcGrass {
    0% { background-position: left; }
    100% { background-position: right; }
}
.discord {
    background: linear-gradient(90deg, #5865F2, #4752C4, #7289DA);
    background-size: 200%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: discordColors 4s ease-in-out infinite alternate;
}
@keyframes discordColors {
    0% { background-position: left; }
    100% { background-position: right; }
}
